:root{
    --main-font-size: 10px;
    --header-background-color: rgb(136, 133, 133);
    --list-item-background-color: rgb(209, 209, 249);
}

html{
    font-size: var(--main-font-size);
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body{
    height: 100%;
    position: relative;
}

main{
    /* position: relative; */
    height: 100%;
}

.content-wrapper{
    margin: 0 auto;    
    width: 90vw;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 7rem;
}

section{
    position: relative;
}

.notes__head,
.notes__head-content-columns,
.notes__head-management,
.notes__list-item,
.note__management,
.note-content,
.note__content-wrapper,
.summary__head,
.summary__head-status,
.summary__list-item {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.notes__list-item,
.summary__list-item{
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 2rem;
    font-size: 2rem;
    background-color: var(--list-item-background-color);
    color: grey;
    border-radius: 5px;
}

.notes__head,
.summary__head{
    background-color: var(--header-background-color);
    height: 4rem;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.notes__head-name,
.notes__head-management,
.list-title,
.note__management{
    width: 20%;
}

.notes__head-content-columns,
.note__content-wrapper{
    width: 60%;
}

.notes__head-content-columns div,
.note__content-wrapper div {
    width: 25%;
}

.notes__head-management,
.note__management{
    justify-content: end;
    gap: 0.5rem;
}

.edit{
    background-image: url('/public/listItemChange.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
}

.archive{
    background-image: url('/public/listItemArchive.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
}

.unarchive{
    background-image: url('/public/listItemUnarchive.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
}

.remove{
    background-image: url('/public/listItemRemove.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
}

.edit:hover{
    cursor: pointer;
}

.archive:hover{
    cursor: pointer;
}

.unarchive:hover{
    cursor: pointer;
}

.remove:hover{
    cursor: pointer;
}

.list-title{
    color: black;
}

.summary__list-item > div{
    width: 50%;
}

.summary__head > div:nth-child(1){
    width: 30%;
}

.summary__head > div:nth-child(2){
    width: 70%;
}

.summary__head-status div{
    flex-grow: 1;
    padding: 0 1rem 0 1rem;
}

button{
    font-size: 1.7rem;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    margin-top: 2rem;
    border-radius: 5px;
    position: absolute;
    right: 0%;
    bottom: -20%;
}

button:hover{
    cursor: pointer;
}

.hide{
    display: none !important;
}

.show{
    display: block;
}

.modal{
    position: absolute;
    top: 0;
    background-color: rgba(128, 128, 128, 0.29);
    width: 100vw;
    height: 100vh;
}

.modal__content-wrapper{
    width: 60rem;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding: 2rem 3rem 2rem 3rem;
    /* overflow: auto; */
}

#creation_form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-around;
    margin: 3rem;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.create__note-title-input{
    border: 1px solid blue;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.create__note-content-input{
    resize: none;
    border: 1px solid blue;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.create__note-btn{
    width: 30%;
    height: fit-content;
    margin-inline: auto;
    border: none;
    border-radius: 5px;
    position: absolute;
    transition: all 0.2s;
    background-color: aqua;
    top: 50%;
    right: 50%;
    transform: translate(50%, 500%);
}

.create__note-btn:hover{
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    scale: 1.02;
}

.close__modal{
    position: absolute;
    right: 3%;
    top: 3%;
    scale: 4;
    opacity: 0.7;
}

.close__modal:hover{
    opacity: 1;
    cursor: pointer;
}

#createNewNote{
    bottom: -5rem;
}